.create-drinks-section {
  background: url('~/public/cocktails_dreams.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.create-drink-title {
  margin-top: 120px;
  font-size: 3em;
  font-weight: 700;
  color: $brown;
  text-transform: uppercase;
  text-align: center;
}

#create-drink {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  label {
    padding-top: 14px;
  }
  input {
    background: $clear-white;
    border: 3px solid white;
    border-radius: 0;
    padding: 25px 20px 20px;
    color: $brown;
    font-size: 20px;
    &::placeholder {
      color: $brown;
      font-size: 20px;
    }
  }
}
