.landing-page {
  background: url('/drink-front-end/public/moscow-mule.jpg') no-repeat center fixed;
  // background: url('~/public/moscow-mule.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 70px;
  overflow: hidden;
}

.landing-copy{
  font-size: 5em;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.auth-btn {
  background: 0;
  border: 5px solid white;
  font-size: 2em;
  padding: 15px 0;
  width: 100%;
  margin-bottom: 40px;
  &:focus {
    outline: 0;
  }
  &:hover{
    background: $clear-white;
  }
  a{
    color: white;
    text-decoration: none;
  }
}

#sign-up, #sign-in, #change-password {
  input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    border-radius: 0;
    box-shadow: none;
    color: white;
    font-size: 1.5em;
    padding: 30px 0px;
    margin-bottom: 30px;
    &::placeholder {
      color: white;
    }
  }
  button {
    background: white;
    border-radius: 0;
    color: grey;
    border: 5px solid white;
    font-size: 2em;
    padding: 17px 0 13px;
    width: 100%;
    margin-top: 40px;
    &:focus {
      outline: 0;
    }
    &:hover {
      background: $clear-white;
      color: white;
    }
  }
}

.user-name {
  border-top: 3px solid white;
  padding-top: 20px;
  margin-top: 0;
}
.active.open-sign-up, .active.open-sign-in, .active.change-password {
  background: $clear-white;
}

.error {
  color: white !important;
  background: #a51712 !important;
}
