@media (max-width: 768px) {
  .landing-copy {
    font-size: 3em;
  }
  .auth-btn {
    font-size: 1.5em;
    padding: 10px 0;
    background: $clear-white;
    color: $brown;
    &:hover {
      background: white;
      color: $brown;
    }
  }
  #sign-up input, #sign-in input, #change-password input {
    padding: 20px 0px;
    margin-bottom: 15px;
    background: $clear-white;
    padding-left: 5px;
    border: 3px solid white;
    color: $brown;
    &::placeholder {
      color: $brown;
    }
  }
  #sign-up button, #sign-in button, #change-password button {
    font-size: 1.5em;
    padding: 10px 0 5px;
  }
  .active.open-sign-up, .active.open-sign-in, .active.change-password {
    background: white;
    color: $brown;
  }
  .create-drinks-section {
    background: url('/public/burlap.jpg')
  }
  #create-drink {
    color: $brown;
  }
}
